.grid {
    display: grid;
    grid-template-columns: 110px 200px;
    justify-content: center;
    gap: 10px;
}
.flex {
    display: flex;
    flex-direction: column;
}
.flex > div {
    margin: 10px;
}
.main {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: fit-content;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}